@model _2World.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "User info";
}
<div class="wrapper">
    <div class="card-header py-3 d-flex justify-content-between">
        <h5 class="m-0 font-weight-bold text-primary">Info</h5>
    </div>
    @{
        if(!string.IsNullOrEmpty(ViewBag.Msg))
        {
            <div class="mt-3 alert alert-@ViewBag.Status">@ViewBag.Msg</div>
        }
    }
    <form id="userEditForm" class="row g-3 needs-validation mt-5" novalidate asp-action="Detail" method="post">
        <div class="text-danger formMsg"></div>
        <div asp-validation-summary="ModelOnly" class="alert-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Password" />
        <input type="hidden" asp-for="RoleId" />
        <div class="col-md-6">
            <label asp-for="Name" class="form-label">User name</label>
            <input asp-for="Name" type="text" class="form-control userName" required value="@Model.Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Email" class="form-label">User email</label>
            <input asp-for="Email" type="email" class="form-control userEmail" value="@Model.Email" readonly required>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Phone" class="form-label">User phone</label>
            <input asp-for="Phone" type="text" class="form-control userPhone" value="@Model.Phone" required>
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="RoleName" class="form-label">Role</label>
            <input asp-for="RoleName" type="text" class="form-control" value="@Model.RoleName" readonly required>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
    <div class="mt-5">
        <div class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#btnChangePW">Change password</div>
    </div>
</div>


<div class="modal fade" id="btnChangePW" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="formChangePass" asp-action="ChangePassword" method="post">
            <input type="hidden" name="userId" value="@Model.Id" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="formContent" class="modal-body">
                    <div class="col-md-12">
                        <label class="form-label">Old Password</label>
                        <div class="d-flex justify-content-center align-item-center">
                            <input name="oldPass" id="oldPasswordField" type="password" class="form-control" required>
                            <div class="btn showPW" data-target="oldPasswordField"><i class="fa-solid fa-eye"></i></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">New Password</label>
                        <div class="d-flex justify-content-center align-item-center">
                            <input name="newPass" id="passwordField" type="password" class="form-control" required>
                            <div class="btn showPW" data-target="passwordField"><i class="fa-solid fa-eye"></i></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Retype password</label>
                        <div class="d-flex justify-content-center align-item-center">
                            <input name="retypePass" id="retypePasswordField" type="password" class="form-control" required>
                            <div class="btn showPW" data-target="retypePasswordField"><i class="fa-solid fa-eye"></i></div>
                        </div>
                        <div id="message"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>